.section {
	padding-top: 60px;
}

.header {
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 60px;
}

.header span {
	display: block;
}

.form-header, .section-header {
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 20px;
}

.form input {
	margin-bottom: 12px;
}

.form {
	border:5px solid #2727d9;
	padding: 30px 20px;
}

.form-btn {
	background-color:  #2727d9;
	margin: 12px auto;
}

.feature {
	margin-right: 60px auto;
}

.feature p{
	margin-top: 20px;
}

.video {
	margin-bottom: 30px;
}

.feature-box {
	height: 160px;
}

.client-box {
	height: 300px;
}
